@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';


body{
  overflow-x: hidden;
}

@media (min-width:1440px) {
    .container_maxWidth_1440{
      width: 100%;
      padding: 0 calc(50vw - 720px);
    }}